<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
<table border=1 id="v-table">
    <thead>
        <tr>
            <th>用户组ID</th>
            <th>用户组名</th>
            <th>状态</th>
            <th>创建日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="row in rows">
            <td>{{row.id}}</td>
            <td>{{row.groupName}}</td>
            <td>{{row.isDelete}}</td>
            <td>{{row.createTime}}</td>
            <td>
                <button v-on:click="showDetail($index)">查看明细</button>
                <button v-on:click="showModify($index)">修改</button>
                <button v-on:click="delete($index)">删除</button>
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript" src="__PUBLIC__/lib/vue.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/group.js"></script>
</body>
</html>