<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="app" ng-controller="AppCtrl">
<div>
    <label>用户组名：</label><input type="text" ng-model="toolbar.groupName"/>
    <label>是否删除：</label>
    <select ng-model="toolbar.isDelete">
        <option value="-1">全部</option>
        <option value="0">正常</option>
        <option value="1">已删除</option>
    </select>
    
    <button ng-click="query()"></button>
</div>   
<table border=1>
    <thead>
        <tr>
            <th>用户组ID</th>
            <th>用户组名</th>
            <th>状态</th>
            <th>创建日期</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in rows">
            <td>{{row.id}}</td>
            <td>{{row.groupName}}</td>
            <td>{{row.isDelete}}</td>
            <td>{{row.createTime}}</td>
            <td>
                <button ng-click="showDetail(row.groupName)">查看明细</button>
                <button ng-click="showModify(row.groupName)">修改</button>
                <button ng-click="delete($index)">删除</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    共{{pageInfo.totalNum}}条， 每页 {{pageInfo.pageSize}}条， 当前第{{pageInfo.currPage}}页 
    
    <button ng-click="loadPage(1)">首页</button>
    <button ng-click="loadPage(pageInfo.currPage - 1)">上一页</button>
    <button ng-click="loadPage(pageInfo.currPage + 1)">下一页</button>
    <button ng-click="loadPage(pageInfo.totalPage)">末页</button>
</div>
<script type="text/javascript" src="__PUBLIC__/lib/angular.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/group.js"></script>
</body>
</html>